.filter-product{
    display: flex;
    gap:40px;
    justify-content:space-between;
    margin-top: 18px;
}

@media screen and (max-width:500px) {
    .filter-product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}